# shard 0
# internal/fn node 1
127.0.0.1 9000 validator ../harmony-test/localnet/configs/multibls/s0intfn1
# internal/fn node 2
127.0.0.1 9004 validator ../harmony-test/localnet/configs/multibls/s0intfn2
# External node
127.0.0.1 9008 external ../harmony-test/localnet/configs/multibls/s0ext
# explorer node
127.0.0.1 9120 explorer null 0

# shard 1
# internal/fn node 1
127.0.0.1 9002 validator ../harmony-test/localnet/configs/multibls/s1intfn1
# internal/fn node 2
127.0.0.1 9006 validator ../harmony-test/localnet/configs/multibls/s1intfn2
# external node
127.0.0.1 9010 external ../harmony-test/localnet/configs/multibls/s1ext
# explorer node
127.0.0.1 9122 explorer null 1